
header {
    background-color: rgb(67, 196, 157);
    color: white;
    padding: 15px;
    text-align: center;
}

.topnav {
    width: 100%;
    background-color: black;
    padding:15px;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

img {
    width: 250px;
    height: 150px;
  }

.aboutme {
    width: 30%;
    max-height: 900px;
    background-color: silver;
    padding: 15px;
    text-align: left;
    color: black;
    order: 1;
}

.container {
    width: 70%;
    max-height: 900px;
    border: 1px solid white;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: left;
    color: black;
}

.first-column {
background-color: white;
flex: 1;
}

.second-column {
background-color: white;
flex: 1;
}