
header {
    background-color: mediumspringgreen;
    color: black;
    text-align: center;    
}

.topnav {
    border: 1px solid silver;
    background-color: black;
    padding:15px;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

img {
    width: 180px;
    height: 100px;
  }

.aboutme {
    width: 20%;
    max-height: 700px;
    background-color: grey;
    padding: 15px;
    text-align: center;
    color: black;
    order: 1;
}

.container {
    width: 80%;
    max-height: 700px;
    border: 1px solid white;
    background-color: silver;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    color: black;
}

.first-column {
background-color: silver;
border: 1px solid white;
flex: 1;
}

.second-column {
background-color: silver;
border: 1px solid white;
flex: 1;
}